header{
    background-image: url(./bg-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    
    .container{
        nav{
            
            ul{
                display: flex;
                justify-content: space-around;
                align-items: center;
                padding-top: 30px;
                li{
                    a{
                        color: white;
                        &:hover{
                            &::after {
                                content: "";
                                border-bottom: 1px solid red;
                                width: 25px; 
                                display: block;
                            }
                        }
                    }
                }
            }
        }
        .text{
            margin-top: 100px;
            margin-left: 70px;
            p{
                text-decoration: line-through;
                color: rgb(143, 109, 59);
                font-size: larger;
                font-family: 'Alkatra', cursive;
                padding: 30px 0;
            }
            h1{
                color: white;
                font-family: 'Roboto Mono', monospace;
                font-size: 64px;
                margin-bottom: 50px;
            }
            a{
                color: white;
                padding: 10px 40px;
                background-color: rgb(206, 147, 107);
               &:hover{
                background-color: rgb(243, 192, 158);
               }
            }
        }
        .hover-image{
            img{
            position: absolute;
            left: 61%;
            top: 33%;
            transition-duration: 3s;
            &:hover{
                transform: translateY(50%);
            }
           } 
        }
       
    }
}