.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 800px
}
.image{
    margin: 50px;
}
.image-2{
    display: none;
}
h1{
   color: darkslategray;
}
span{
   border-bottom: 3px solid brown ;
   width: 120px;
}
p{
    font-size: 1.2rem;
    color: rgb(8, 8, 129);
}
@media screen and (max-width:767px) {
    .container{
        display: flex;
        flex-direction: column;
    }
    .image{
        display: none;
    }
    .image-2{
        display: block;
    }
    .text{
        background-color: rgb(199, 79, 79);
        margin-top: 10px;
    }
    

    p{
        color: black;
        padding-bottom: 100px;

    }
}
