@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}

header {
  background-color: #20484F;
}
header nav {
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav h4 {
  color: #fff;
  font-family: "Plus Jakarta Sans";
  padding-left: 40px;
}
header nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
}
header nav ul li a {
  color: #fff;
  font-family: "Plus Jakarta Sans";
  text-decoration: none;
}
header nav ul li .fa-bars {
  display: none;
  color: #fff;
  padding-top: 10px;
}
header nav div .sign-up {
  padding: 10px 16px;
  border-radius: 5px;
  background-color: #B8E4DA;
  font-family: "Plus Jakarta Sans";
  color: #fff;
  color: #20484F;
  text-decoration: none;
}
header nav div .log-in {
  padding: 10px 16px;
  border-radius: 5px;
  background-color: #B8E4DA;
  font-family: "Plus Jakarta Sans";
  color: #fff;
  background-color: transparent;
  padding-right: 44px;
  text-decoration: none;
}
@media only screen and (max-width: 767px) {
  header nav ul li a {
    display: none;
  }
  header nav ul li .fa-bars {
    display: block;
  }
  header nav div .sign-up {
    display: none;
  }
  header nav div .log-in {
    display: none;
  }
}

.hero-banner {
  background-color: #FAFAFA;
}
.hero-banner .image-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 130px;
}
.hero-banner .image-text .text {
  width: 50%;
}
.hero-banner .image-text .text h5 {
  font-family: "Plus Jakarta Sans";
  font-weight: 700;
  font-size: 18px;
  color: #072125;
  margin-bottom: 24px;
}
.hero-banner .image-text .text .headline {
  font-family: "Plus Jakarta Sans";
  font-size: 64px;
  color: #072125;
}
.hero-banner .image-text .text .description {
  font-family: "Plus Jakarta Sans";
  font-size: 24px;
  color: #072125;
  margin-top: 32px;
  margin-bottom: 48px;
}
.hero-banner .image-text .text .sign-up {
  border-radius: 5px;
  background-color: #B8E4DA;
  font-family: "Plus Jakarta Sans";
  color: #fff;
  padding: 16px 36px;
  background-color: #072125;
  text-decoration: none;
}
.hero-banner .image-text .text .log-in {
  border-radius: 5px;
  background-color: #B8E4DA;
  font-family: "Plus Jakarta Sans";
  color: #fff;
  padding: 16px 36px;
  background-color: transparent;
  color: #072125;
  text-decoration: none;
}
@media only screen and (max-width: 767px) {
  .hero-banner .image-text {
    flex-direction: column-reverse;
  }
  .hero-banner .image-text .text {
    width: 100%;
  }
}

.team {
  background-color: #FAFAFA;
}
.team h2 {
  font-family: "Plus Jakarta Sans";
  color: #072125;
  size: 40px;
  font-weight: 700;
  padding-top: 92px;
}
.team p {
  font-family: "Plus Jakarta Sans";
  color: #072125;
  font-size: 16px;
}
.team .container-fluid .row .col {
  margin: 0 auto;
}
.team .container-fluid .row .col div h4 {
  font-family: "Plus Jakarta Sans";
  color: #072125;
  margin-top: 16px;
  font-weight: 700;
  font-size: 24px;
}
.team .container-fluid .row .col div p {
  font-family: "Plus Jakarta Sans";
  color: #072125;
  margin-top: 8px;
  font-weight: 400;
  font-size: 18px;
}
.team .container-fluid .row .col div .icons {
  padding-bottom: 124px;
}

footer {
  background-color: #20484F;
}
footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 58px;
}
footer .container .registration h3 {
  color: #fff;
  font-weight: 700;
  font-family: "Plus Jakarta Sans";
  margin-top: 31px;
}
footer .container .registration .row .col {
  color: #fff;
  font-size: 16px;
}
footer .container .registration .row .col i {
  color: #fff;
}
footer .container .input {
  display: flex;
  margin: 39px 0;
}
footer .container .input input {
  border: none;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding-left: 20px;
}
footer .container .input a {
  border-radius: 5px;
  background-color: #B8E4DA;
  font-family: "Plus Jakarta Sans";
  color: #fff;
  border-radius: 0px;
  padding: 10px 30px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  text-decoration: none;
}
footer .container .features {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .container .features .company h5 {
  color: #fff;
  font-size: 18px;
}
footer .container .features .company ul {
  gap: 16px;
}
footer .container .features .company ul li {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
}
footer hr {
  color: #DCF2ED;
}
footer .quickly {
  text-align: center;
  color: #fff;
  padding-bottom: 16px;
}
@media only screen and (max-width: 767px) {
  footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }
  footer .container .features {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }
}/*# sourceMappingURL=main.css.map */